.container{
    background-color: #5390e6;
    display: flex;
    gap: 5%;
    height: 90px;
    font-family:Raleway;

}

.container button,#input-name{

   height: 50%;
   margin-top: 20px;

}

#input-name{
    margin-left: 1%;
    color: white;
    background-color: #6495ed;
    border-width:0 ;
    font-size: 25px;
    font-family:Raleway;

}

.container button{
    height: 60%;
    font-family:Raleway;
    font-size: 25px;
    background-color: #4864ad;
    border-width: 0px;



}

#input-name:focus{
    outline: none;
    border-bottom-width:1px ;
}
@media (max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
    }
    button{
        width: 50%;
        margin: auto;
    }
}
