.weather_information{
    margin-left: 40%;
    display: flex;
    flex-direction: column;
}

#weather_status{
    width: 20%;
    ;

}

#text_status{
    color: white;
    font-size: 25px;
    margin-top: 0px;
}
#image_info{
    margin-left: 2%;
}

#temp_txt{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 0.5%;
}

.temp_container{
    flex-direction: row;
    gap: 1%;
}

#humidity_txt,#pressure_txt{
    margin-right: 1%;
    font-size: 18px;

}

#pressure,#pressure_txt,#humidity{
    margin-left: 1%;
}
.temp_hours{
    display: flex;
    gap: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
}
.time3{
    display: flex;
    flex-direction: column;
}
.time6{
    display: flex;
    flex-direction: column;
}
.time9{
    display: flex;
    flex-direction: column;
}
.time12{
    display: flex;
    flex-direction: column;
}
.time15{
    display: flex;
    flex-direction: column;
}
.time18{
    display: flex;
    flex-direction: column;
}
.time21{
    display: flex;
    flex-direction: column;
}
.time img{
    width: 100%;
}

@media (max-width: 700px) {
    .temp_hours{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    p{
        font-size:xx-large;
    }
    #humidity_txt{
        font-size: x-large;
    }
    #temp_txt{
        font-size: x-large;
    }
    #weather_status{
        width: 60%;
    }
    .weather_information{
        margin-left: 20%;
    }
    #weather_status{
        margin-left: 15%;
    }
    #text_status{
        font-size: 18px;
    }
    #temp_txt{
        font-size: 18px;
    }
    #pressure_txt{
        font-size: 18px;
    }
    #pressure{
        font-size: 18px
    }
    #humidity_txt{
        font-size: 18px;
    }
    #humidity{
        font-size: 18px;
    }
    #temp_from {
margin-left: 5px;
margin-right: 5px;
    }
    #temp_to{
        margin-left: 5px;
        margin-right: 5px
    }
}
