body {
  background-color: rgb(156,206,244);
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#iconNow {
  height: 200px;
  width: 15%;
  margin-left: 41%;
  margin-top: 40px;
}

#labelNow {
  margin-left: 43%;
  margin-top: 7px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.marginFix {
  margin-top: 0;
}

#temperature {
  margin-bottom: 0;
  margin-left: 37%;
  color: rgb(3,3,72);
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 22%;
}

.label {
  font-weight: bold;
}

#humidPress {
  margin-left: 37%;
  color: rgb(3,3,72);
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  width: 22%;
}

/*  Search bar */

/* Current weather */

html{
  margin: 0;
  font-family: "Raleway"; }

img{
  width: 80px;
height: 80px ;}

#daily_weather {
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 220px;
  margin-left: 25%;
  margin-right: 25%;
  color: rgb(9,11,13);
}

#first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px; }

#second{
  display: flex;
  justify-content: space-between;
  height: 220px; 
  width: 105%;
  margin-left: -3%; }

#third{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px; }

@media (max-width: 900px) {
  html {
    width: fit-content;
  }
  
  body {
    width:fit-content;
  }

  img{
    width: 10%;
    height: 80px;}

  #labelNow {
    font-size: 15px;
    margin-left: 40%;
    margin-top: 0;
  }

  #temperature {
    font-size: 15px;
  }

  #humidPress {
    font-size: 13px;
    margin-left: 36%;
  }

  #daily_weather {
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
  }

  #first{
    font-size: 14px; }

  #third{
    font-size: 14px; }

  #iconNow {
    width: 25%;
    margin-left: 37%;
  }
}